#set($imgUrl='/openbuilder-2018/service/images')
<h4 class="screen_out">카테고리</h4>
<div class="snb_builder" role="navigation">
	<div class="group_util">
		<button type="button" class="btn_util btn_add">
		  <span class="ico_bot ico_add"></span>
		  <span class="tooltip_btn">시나리오 추가</span>
		</button>
		<button type="button" class="btn_util btn_modify">
		  <span class="ico_bot ico_modify"></span>
		  <span class="tooltip_btn">시나리오 설정</span>
		</button>
		<div class="wrap_search #if($params.get('search'))search_on #end"><!--버튼클릭시 search_on 클래스추가 -->
			<a href="#none" class="btn_util btn_search">
			  <span class="ico_bot ico_search"></span>
			  <span class="tooltip_btn">검색</span>
		  	</a>
			<div class="search_cate">
				<form action="#">
					<fieldset>
						<legend class="screen_out">카테고리 검색 폼</legend>
						<div class="box_tf">
							<span class="ico_bot ico_search">검색</span>
							<label class="screen_out" for="chatNameSearch">검색</label>
							<input type="text" id="chatNameSearch" name="chatNameSearch" class="inp_g" placeholder="검색어 입력" value="블록">
							<button type="button" class="btn_close"><span class="ico_bot ico_close">닫기</span></button>
						</div> 
					</fieldset>
				</form>
			</div>
		</div>	
	</div>
	<a href="#none" class="link_all">
	  <!-- <span class="ico_bot ico_arr"></span> 2018-12-07 삭제 --><span class="screen_out">카테고리</span>모두접기
	</a>
	<div class="group_cate active"><!-- 활성화시 active 클래스 추가 -->
		<div class="item_cate tit_cate"><!-- 편집시 edit 클래스추가 -->
			<a href="#none" class="link_item">
				<strong><span class="ico_bot ico_arr"></span>기본 시나리오</strong>
			</a>
			<div class="item_tf">
				<div class="box_tf tf_focus">
					<input type="text" id="tfCateTit1" class="inp_g" value="시나리오 1">
					<label for="tfCateTit1" class="screen_out">타이틀 입력</label>
				</div>
			</div>
			<!-- <span class="wrap_util">
				<button type="button" class="btn_util btn_copy">
					<span class="ico_bot ico_copy"></span>
					<span class="tooltip_btn">복사</span>
				</button>
				<button type="button" class="btn_util btn_del">
					<span class="ico_bot ico_del"></span>
					<span class="tooltip_btn">삭제</span>
				</button>
			</span> 2018-10-01 삭제 -->
		</div>
		<ul class="list_cate">
			#foreach($cate in[0..2])
			#set($title=['웰컴','폴백','탈출'])
			<li>
				<div class="item_cate"><!-- 편집시 edit 클래스추가 -->
					<a href="#none" class="link_item">$title.get($cate) #if($params.get('search'))<span class="emph_search">블록</span>#else블록#end</a>
					<div class="item_tf">
						<div class="box_tf tf_focus">
							<input type="text" id="tfCate0$cate" class="inp_g" value="시나리오 1">
							<label for="tfCate0$cate" class="screen_out">타이틀 입력</label>
						</div>
					</div>
					<!-- <span class="wrap_util">
						<span class="ico_bot ico_check"></span>
						<button type="button" class="btn_util btn_reset">
							<span class="ico_bot ico_reset"></span>
							<span class="tooltip_btn">새로고침</span>
						</button>
					</span> 2018-09-28 삭제 -->
				</div>
			</li>
			#end
		</ul>
	</div>
	<!--//기본시나리오 -->

	#if($params.get('faq') || $filename=='block_faq')
	<!-- 2018-10-22 추가 -->
	<div class="group_cate active"><!-- 활성화시 active 클래스 추가 -->
		<div class="item_cate tit_cate"><!-- 편집시 edit 클래스추가 -->
			<a href="#none" class="link_item">
				<strong><span class="ico_bot ico_arr"></span>확장 시나리오</strong>
			</a>
			<div class="item_tf">
				<div class="box_tf tf_focus">
					<input type="text" id="tfCateTit5" class="inp_g" value="확장 시나리오">
					<label for="tfCateTit5" class="screen_out">타이틀 입력</label>
				</div>
			</div>
		</div>
		<ul class="list_cate">
			<li #if($params.get('on'))class="on"#end><!-- 현재 페이지인 경우 on 클래스추가 -->
				<div class="item_cate"><!-- 편집시 edit 클래스추가 -->
					<a href="#none" class="link_item">FAQ봇 확장 블록</a>
					<div class="item_tf">
						<div class="box_tf tf_focus">
							<input type="text" id="tfCate50" class="inp_g" value="확장 시나리오">
							<label for="tfCate50" class="screen_out">타이틀 입력</label>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- //2018-10-22 추가 -->
	#end

	<div class="group_cate active"><!-- 활성화시 active 클래스 추가 -->
		<div class="item_cate tit_cate #if($params.get('edit')) edit #end"><!-- 편집시 edit 클래스추가 -->
			<a href="#none" class="link_item">
				<strong><span class="ico_bot ico_arr"></span>시나리오 1</strong>
			</a>
			<div class="item_tf">
				<div class="box_tf tf_focus">
					<input type="text" id="tfCateTit2" class="inp_g" value="시나리오 1">
					<label for="tfCateTit2" class="screen_out">타이틀 입력</label>
				</div>
			</div>
			<!-- 2019-01-07 수정 -->
			<div class="wrap_util">
				<button type="button" class="btn_util btn_more">
					<span class="ico_bot ico_more"></span>
					<span class="tooltip_btn">더보기</span>
				</button>
			    <div class="layer_edit">
					<ul class="list_edit">
						<li class="on"><span class="txt_edit">편집</span></li>
						<li><span class="txt_edit">삭제</span></li>
					</ul>
			    </div>
			</div>
      <!-- //2019-01-07 수정 -->
		</div>
		<ul class="list_cate">
			<li>
				<div class="item_cate #if($params.get('edit')) edit #end"><!-- 편집시 edit 클래스추가 -->
					<a href="#none" class="link_item">스케줄</a>
					<div class="item_tf">
						<div class="box_tf tf_focus">
							<input type="text" id="tfCate21" class="inp_g" value="스케줄">
							<label for="tfCate21" class="screen_out">타이틀 입력</label>
						</div>
					</div>
          <!-- 2019-01-07 수정 -->
          <div class="wrap_util">
						<button type="button" class="btn_util btn_more">
							<span class="ico_bot ico_more"></span>
							<span class="tooltip_btn">더보기</span>
						</button>
						<div class="layer_edit">
							<ul class="list_edit">
								<li class="on"><span class="txt_edit">복사</span></li>
								<li class="item_off"><span class="txt_edit">이동</span></li><!-- 	선택 했을 때 on / 비활성화 일 때 item_off 클래스 추가 -->
								<li><span class="txt_edit">삭제</span></li>
							</ul>
						</div>
					</div>
          <!-- //2019-01-07 수정 -->
				</div>
			</li>
			<li #if($params.get('faq') || $filename=='block_faq') #else class="on"#end><!-- 현재페이지인경우 on 클래스추가 -->
				<div class="item_cate"><!-- 편집시 edit 클래스추가 -->
					<a href="#none" class="link_item">날씨</a>
					<div class="item_tf">
						<div class="box_tf tf_focus">
							<input type="text" id="tfCate22" class="inp_g" value="스케줄">
							<label for="tfCate22" class="screen_out">타이틀 입력</label>
						</div>
					</div>
				    <!-- 2019-01-07 수정 -->
				    <div class="wrap_util">
					    <button type="button" class="btn_util btn_more">
						    <span class="ico_bot ico_more"></span>
						    <span class="tooltip_btn">더보기</span>
					    </button>
					    <div class="layer_edit">
						    <ul class="list_edit">
						  	    <li class="on"><span class="txt_edit">복사</span></li>
							    <li><span class="txt_edit">이동</span></li>
							    <li><span class="txt_edit">삭제</span></li>
						    </ul>
				  	    </div>
				    </div>
				    <!-- //2019-01-07 수정 -->
				</div>
			</li>
		 	<li>
				<div class="item_tf"><!-- 편집시 edit 클래스추가 -->
					<button type="button" class="btn_cate">+ 블록 추가</button>
				</div>
		  	</li>
		</ul>
	</div>
	<!-- //시나리오 1 -->
	<div class="group_cate active"><!-- 활성화시 active 클래스 추가 -->
		<div class="item_cate tit_cate">
			<a href="#none" class="link_item">
				<strong><span class="ico_bot ico_arr"></span>시나리오 2 시나리오 2 시나리오 2 시나리오 2 시나리오 2 시나리오 2</strong>
			</a>
			<div class="item_tf">
				<div class="box_tf tf_focus">
					<input type="text" id="tfCateTit3" class="inp_g" value="시나리오 2">
					<label for="tfCateTit3" class="screen_out">타이틀 입력</label>
				</div>
			</div>
			<!-- 2019-01-07 수정 -->
			<div class="wrap_util">
				<button type="button" class="btn_util btn_more">
					<span class="ico_bot ico_more"></span>
					<span class="tooltip_btn">더보기</span>
				</button>
				<div class="layer_edit">
					<ul class="list_edit">
						<li class="on"><span class="txt_edit">편집</span></li>
						<li><span class="txt_edit">삭제</span></li>
					</ul>
				</div>
			</div>
			<!-- //2019-01-07 수정 -->
		</div>
		<ul class="list_cate">
			<li>
				<div class="item_cate">
					<a href="#none" class="link_item">아이템 추천</a>
					<div class="item_tf">
						<div class="box_tf tf_focus">
							<input type="text" id="tfCate30" class="inp_g" value="아이템 추천">
							<label for="tfCate30" class="screen_out">타이틀 입력</label>
						</div>
					</div>
					<!-- 2019-01-07 수정 -->
					<div class="wrap_util">
						<button type="button" class="btn_util btn_more">
							<span class="ico_bot ico_more"></span>
							<span class="tooltip_btn">더보기</span>
						</button>
						<div class="layer_edit">
							<ul class="list_edit">
								<li class="on"><span class="txt_edit">복사</span></li>
								<li><span class="txt_edit">이동</span></li>
								<li><span class="txt_edit">삭제</span></li>
							</ul>
						</div>
					</div>
					<!-- //2019-01-07 수정 -->
				</div>
			</li>
			<li>
				<div class="item_cate">
					<a href="#none" class="link_item">#if($params.get('search'))<span class="emph_search">블록</span>#else 블록#end 명은 최대 20자 까지라서 이 정도</a>
					<div class="item_tf">
						<div class="box_tf tf_focus">
							<input type="text" id="tfCate31" class="inp_g" value="블록명은...">
							<label for="tfCate31" class="screen_out">타이틀 입력</label>
						</div>
					</div>
                    <!-- 2019-01-07 수정 -->
                    <div class="wrap_util">
						<button type="button" class="btn_util btn_more">
							<span class="ico_bot ico_more"></span>
							<span class="tooltip_btn">더보기</span>
						</button>
						<div class="layer_edit">
							<ul class="list_edit">
								<li class="on"><span class="txt_edit">복사</span></li>
								<li><span class="txt_edit">이동</span></li>
								<li><span class="txt_edit">삭제</span></li>
							</ul>
						</div>
					</div>
                    <!-- //2019-01-07 수정 -->
				</div>
			</li>
		 	<li>
				<div class="item_tf">
					<button type="button" class="btn_cate">+ 블록 추가</button>
				</div>
		  	</li>
		</ul>
	</div>
	<!-- //시나리오 2 -->
	<div class="group_cate"><!-- 활성화시 active 클래스 추가 -->
		<div class="item_cate tit_cate">
			<a href="#none" class="link_item">
				<strong><span class="ico_bot ico_arr"></span>#if($params.get('search')) <span class="emph_search">블록</span>#else 블록#end 시나리오 3</strong>
			</a>
			<div class="item_tf">
				<div class="box_tf tf_focus">
					<input type="text" id="tfCateTit4" class="inp_g" value="시나리오 3">
					<label for="tfCateTit4" class="screen_out">타이틀 입력</label>
				</div>
			</div>
			<!-- 2019-01-07 수정 -->
			<div class="wrap_util">
				<button type="button" class="btn_util btn_more">
					<span class="ico_bot ico_more"></span>
					<span class="tooltip_btn">더보기</span>
				</button>
				<div class="layer_edit">
					<ul class="list_edit">
						<li class="on"><span class="txt_edit">편집</span></li>
						<li><span class="txt_edit">삭제</span></li>
					</ul>
				</div>
			</div>
		    <!-- //2019-01-07 수정 -->
		</div>
		<ul class="list_cate">
			<li>
				<div class="item_cate">
					<a href="#none" class="link_item">아이템 추천</a>
                    <!-- 2019-01-07 수정 -->
                    <div class="wrap_util">
						<button type="button" class="btn_util btn_more">
							<span class="ico_bot ico_more"></span>
							<span class="tooltip_btn">더보기</span>
						</button>
						<div class="layer_edit">
							<ul class="list_edit">
								<li class="on"><span class="txt_edit">복사</span></li>
								<li><span class="txt_edit">이동</span></li>
								<li><span class="txt_edit">삭제</span></li>
							</ul>
						</div>
			  		</div>
                    <!-- //2019-01-07 수정 -->
				</div>
			</li>
			<li>
				<div class="item_cate">
					<a href="#none" class="link_item">블록명은 최대 20자 까지라서 이 정도</a>
					<div class="item_tf">
						<div class="box_tf tf_focus">
							<input type="text" id="tfCate40" class="inp_g" value="블록명은최대20글자일이삼사오육칠팔구십">
							<label for="tfCate40" class="screen_out">타이틀 입력</label>
						</div>
					</div>
          	<!-- 2019-01-07 수정 -->
				    <div class="wrap_util">
						<button type="button" class="btn_util btn_more">
							<span class="ico_bot ico_more"></span>
							<span class="tooltip_btn">더보기</span>
						</button>
						<div class="layer_edit">
							<ul class="list_edit">
								<li class="on"><span class="txt_edit">복사</span></li>
								<li><span class="txt_edit">이동</span></li>
								<li><span class="txt_edit">삭제</span></li>
							</ul>
						</div>
					  </div>
            <!-- //2019-01-07 수정 -->
				</div>
			</li>
		 	<li>
				<div class="item_tf">
					<button type="button" class="btn_cate">+ 블록 추가</button>
				</div>
		  	</li>
		</ul>
	</div>
	<!-- //시나리오 3 -->
</div>